.sideBar.fr
	.section
		form(method="get",action="/search")
			.search-body.prz
				.body-waper.pra
					input.body-input(type='text',name='keywords',placeholder='请输入关键词')
				input.body-button.iconfont.icon-search.pra(type="submit")
	.section
		p.info-header Copyright @深度资讯DeepINews 2020
		p.info-header 邮件:
			a(href='mailto:deepinewsservice@163.com') deepinewsservice@163.com
