.operation-buttons.mb
    button.button.fl.mr(ng-click='addContent("article")') 添加文章
    button.button.fl.mr(ng-click='selectAll()') 全选
    button.button.fl.mr(ng-click='convertAll()') 反选
    button.button.fl.mr(ng-click='cancelALL()') 全不选
    button.button.fl.mr(ng-click='deleteMany()') 批量删除
    select(ng-if='user.isAdmin', ng-click='getUserList()', size=2, style="width:150px;", ng-init='selectedUser = users[0]', ng-model='selectedUser', ng-options='x for x in users', ng-dblclick="startFilter(selectedUser)")
    .search-key.fr
        .input-group
            input.form-control(type='text', placeholder='请输入搜索关键字', autocomplete='off',ng-model='key')
            span.input-group-btn
                button.btn.btn-primary(type='button',ng-click="search(key)") 搜索
                button.btn.btn-danger(type='button',ng-click="reset()") 返回
paging(page="pageConfig.page",page-size="pageConfig.pageSize",total="pageConfig.total",dots="...",show-prev-next="true",show-first-last="true",paging-action="pagination(page)",text-first="首页",text-last="尾页",text-next="下一页",text-prev="上一页")
table.article-list
    tr
        th 标题
        th 来源
        th 分类
        th(ng-if='user.isAdmin') 是否推荐
        th(ng-if='user.isAdmin') 是否激活
        th 更新时间
        th(ng-if='user.isAdmin') 订阅用户
        th 操作
    tr(ng-repeat='item in articleList.docs')
        td
            label.cleargap
                input.ibox(type='checkbox', ng-checked='item.state', ng-change='toggle($index,item.state)', ng-model='item.state')
                a(ng-click="openUrl(item.forceUrl)", href='').span.ibox(ng-bind='item.title')
        td
            span.ibox(ng-bind='item.author')
        td
            span(ng-repeat='data in item.catalog', ng-bind="data+' '")
        td(ng-if='user.isAdmin')
            span(ng-repeat='data in item.recommend', ng-bind="data+' '")
            span(ng-if='item.recommend.length==0') 否
        td(ng-if='user.isAdmin', ng-bind="item.isActive ? '是' : '否' ")
        td(ng-bind="item.published | date:'yyyy-MM-dd' ")
        td(ng-if='user.isAdmin')
            select(ng-init='selectedName = item.subscribe[0]', ng-model='selectedName', ng-options='x for x in item.subscribe', size=2, style="width:90px;")
            a(ng-if='user.isAdmin', href='javascript:;', ng-click='unsubscribeByID(item._id, selectedName)') 取消订阅
        td
            a(href='javascript:;', ng-click='deleteByID(item._id,false)') [删除]
            a(ng-if='user.isAdmin', href='javascript:;', ng-click='modifyByID(item._id,item.columnID)') [修改]
            a(ng-if='!user.isAdmin && item.add.includes(user.username)', href='javascript:;', ng-click='modifyByID(item._id,item.columnID)') [修改]
            a(ng-if= "!item.mark.includes(user.username)", href='javascript:;', ng-click='markArticle(item._id, item.columnID)') [收藏]
            a(ng-if= "item.mark.includes(user.username)", href='javascript:;', ng-click='unMarkArticle(item._id, item.columnID)') [取消收藏]

.user-tip(ng-if='articleList.docs.length==0') 暂无数据

a#article-trigger(href="#fancybox-article",fancybox)

.fancybox-container#fancybox-article(style="display:none")
    form.form-horizontal(method="post")
        .form-group(ng-if="!sign.isModify")
            label.col-sm-1.control-label.f13(ng-if='user.isAdmin') 所属栏目
            .col-sm-11(ng-if='user.isAdmin')
                select.form-control(ng-model='articleModel.columnID')
                    option(ng-repeat="item in allColumns",ng-value='item._id') {{item.title}}
        .form-group
            label.col-sm-1.control-label.f13 标题
            .col-sm-11
                input.form-control(type='text',placeholder='请输入标题',autocomplete="off",ng-model="articleModel.title")
        .form-group(ng-if='user.isAdmin')
            label.col-sm-1.control-label.f13 当前语言
            .col-sm-11
                input.form-control(type='text',disabled="disabled",autocomplete="off",ng-model="articleModel.language")
        .form-group(ng-if='user.isAdmin')
            label.col-sm-1.control-label.f13 是否推荐
            .col-sm-11
                label.checkbox-inline
                    input(type='checkbox',autocomplete="off",ng-click="updateCommand($event,'推荐文章')",value="推荐文章")
                    | 推荐文章
                label.checkbox-inline
                    input(type='checkbox',autocomplete="off",ng-click="updateCommand($event,'文字广告')",value="文字广告")
                    | 文字广告
                label.checkbox-inline
                    input(type='checkbox',autocomplete="off",ng-click="updateCommand($event,'类别首页')",value="类别首页")
                    | 类别首页
        .form-group(ng-if='user.isAdmin')
            label.col-sm-1.control-label.f13 是否激活
            .col-sm-11
                label.checkbox-inline
                    input(type='checkbox',autocomplete="off",ng-model="articleModel.isActive",ng-value="articleModel.isActive")
        .form-group
            label.col-sm-1.control-label.f13 来源
            .col-sm-11
                input.form-control(type='text',placeholder='请输入来源',autocomplete="off",ng-model="articleModel.author")
        .form-group(ng-if='user.isAdmin')
            label.col-sm-1.control-label.f13 点击量
            .col-sm-11
                input.form-control(type='text',placeholder='请输入点击量',autocomplete="off",ng-model="articleModel.clickVolume")
        .form-group
            label.col-sm-1.control-label.f13 URL
            .col-sm-11
                input.form-control(type='text',placeholder='请输入URL',autocomplete="off",ng-model="articleModel.forceUrl")
        .form-group(ng-if='user.isAdmin')
            label.col-sm-1.control-label.f13 文章封面
            .col-sm-11
                .uploadImageWaper
                    img.uploadImage(ng-src="{{SERVER_PATH}}{{articleModel.articleCover}}",image-scale="best-fit-down")
                input.uploadInp(type='file',uploader="uploader",nv-file-select="")
                input.uploadInpBtn(type="button",ng-click="uploader.uploadAll()",value="上传")
        .form-group
            label.col-sm-1.control-label.f13 发布日期
            .col-sm-11
                input.form-control(type='date',placeholder='请选择日期',autocomplete="off",ng-model="articleModel.published")
        .form-group(ng-show='user.isAdmin')
            label.col-sm-1.control-label.f13 简介
            .col-sm-11
                #article-ins.wangEditor
        .form-group
            label.col-sm-1.control-label.f13 内容
            .col-sm-11
                #article-con.wangEditor
        .form-group(ng-show='user.isAdmin')
            label.col-sm-1.control-label.f13 标题
            .col-sm-11
                input.form-control(type='text',placeholder='请输入网页标题',autocomplete="off",ng-model="articleModel.pagetitle")
        .form-group(ng-show='user.isAdmin')
            label.col-sm-1.control-label.f13 关键字
            .col-sm-11
                input.form-control(type='text',placeholder='请输入网页关键字',autocomplete="off",ng-model="articleModel.pagekeywords")
        .form-group(ng-show='user.isAdmin')
            label.col-sm-1.control-label.f13 描述
            .col-sm-11
                input.form-control(type='text',placeholder='请输入网页描述',autocomplete="off",ng-model="articleModel.pagedescription")
        .form-group
            label.col-sm-1.control-label
            .col-sm-11
                button.btn.btn-primary(ng-click="addArticle()",ng-show="!sign.isModify") 提交
                button.btn.btn-primary(ng-click="sendModifyArticle(sign.modifyID)",ng-show="sign.isModify") 修改
                button.btn.btn-danger.ml(ng-click="resizeArticle()") 重置