.header
	.waper
		.header-content
			a.logo(ui-sref='major.index') DeepINews深度资讯
			.top-menu.fr
				.welcome.fl
					i.layui-icon
					| 欢迎您,{{user.realname}}
				.menu.fl
					a(ng-if='user.isAdmin', ui-sref='major.index' ui-sref-active="active") 主页
					a(ng-if='user.isAdmin', ui-sref='major.language' ui-sref-active="active") 语言管理
					a(ng-if='user.isAdmin', ui-sref='major.setting' ui-sref-active="active") 设置
					a(href='javascript:;',ng-click="logout()") 退出
