<div class="list-content-body"
     infinite-scroll='loadData()'
     infinite-scroll-disabled='isLoadingData'
     infinite-scroll-distance='1'>
    <ul >
        <li *ngFor="let item of articles$|async">
            <div class="article-box" *ngIf="!item.isShowImage">
                <a class="article-catalog" (click)="catalogSwitch()">{{item.catalog[0]}}</a>
                <a href="{{item.forceUrl}}" target="_blank" class="article-title">{{item.title}}</a>
                <div class="article-footer">
                    <a class="article-author">{{item.author}} ⋅ </a>
                    <a class="article-time">{{item.published}}</a>
                </div>
            </div>
            <div class="article-box" *ngIf="item.isShowImage">
                <a class="article-catalog-sub" (click)="catalogSwitch()">{{item.catalog[0]}}</a>
                <a class="article-image" href="{{item.forceUrl}}" target="_blank">
                    <img class="article-image-inner" src="{{item.articleCover[0]}}">
                </a>
                <a href="{{item.forceUrl}}" target="_blank" class="article-title-sub" (click)="viewed(item)">{{item.title}}</a>
                <div class="article-footer-sub">
                    <a class="article-author">{{item.author}} ⋅ </a>
                    <a class="article-time">{{item.published}}</a>
                </div>
            </div>
        </li>
    </ul>
    <a *ngIf='isLoading' class="article-loading">加载中...</a>
    <a *ngIf='!isLoading' class="article-load-finished">—— 加载完啦 ——</a>
</div>
