.font {
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
}

.search-input-group {
  width: 100%;
  min-width: 1180px;
  height: 100px;
  position: fixed;
  top: 35px;
  z-index: 9999;
  background: #ffffff;
}

.search-page {
  position: relative;
  margin-left: 50%;
  left: -340px;
}

a {
  text-decoration: none;
}

button,a {
  outline:0 none !important; blr:expression(this.onFocus=this.blur());
}

.search-page-search-box {
  background: #FFFFFF;
  border: 0.5px solid #D9D9DB;
  border-right-color: #3385ff;
  border-radius: 5px;
  position: relative;
  width: 600px;
  height: 40px;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  padding: 0 0 0 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  top: 30px;
}

.input-group-button-text {
  display: flex;
  height: 41px;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background-color: #3385ff;
  border: 0 solid #3385ff;
  border-radius: 5px;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search {
  color: #ffffff;
}

input:focus {
  outline:none;
  border: 0.5px solid #3385ff;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder {
  color: transparent;
  /* transparent是全透明黑色(black)的速记法，即一个类似rgba(0,0,0,0)这样的值 */
}

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
  color: transparent;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent;
}

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

.search-content-body {
  width: 900px;
  position: relative;
  margin-top: 100px;
  margin-left: 50%;
  left: -450px;
}

a {
  text-decoration: none;
}

.search-content {
  width: 100%;
  height: 100%;
}

.article-box {
  height: 80px;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}

.article-catalog {
  @extend .font;
  color: #ffffff;
  background: #87A5B5;
  position: relative;
  font-size: 12px;
  top: 25px;
  right: 300px;
  padding: 1px 2px;
  cursor: pointer;
}

.article-title {
  @extend .font;
  padding: 10px 5px 5px 5px;
  display: inline-block;
  text-align: left;
  margin-left: 40px;
  font-weight: bold;
  color: #222222;
  width: 590px;
  font-size: 18px;
  line-height: 1.2;
}

.article-footer {
  position: relative;
  display: inline-block;
  margin-left: 60px;
  float: right;
  margin-top: 10px;
  width: 150px;
}

.article-author {
  @extend .font;
  color: #777;
  font-size: 14px;
}

.article-time {
  @extend .article-author;
}

.article-loading {
  @extend .article-author;
  color: #222222;
  position: relative;
  font-size: 14px;
  bottom: 10px;
}

.article-load-finished {
  @extend .article-loading;
}

ul {
  padding: 0;
  position: relative;
}

ul li{
  list-style-type:none;
}

