.operation-buttons.mb
	button.button.fl.mr(ng-click='addContent()') 添加文章
	button.button.fl.mr(ng-click='selectAll()') 全选
	button.button.fl.mr(ng-click='convertAll()') 反选
	button.button.fl.mr(ng-click='cancelALL()') 全不选
	button.button.fl.mr(ng-click='deleteMany()') 批量删除
paging(page="pageConfig.page",page-size="pageConfig.pageSize",total="pageConfig.total",dots="...",show-prev-next="true",show-first-last="true",paging-action="pagination(page)",text-first="首页",text-last="尾页",text-next="下一页",text-prev="上一页")
table.article-list
	thead
		tr
			th 标题
			th 来源
			th 分类
			th(ng-if='user.isAdmin') 是否推荐
			th(ng-if='user.isAdmin') 是否激活
			th 发布时间
			th 操作
	tbody
		tr(ng-repeat='item in articleList.docs')
			td
				label.cleargap
					input.ibox(type='checkbox', ng-checked='item.state', ng-change='toggle($index,item.state)', ng-model='item.state')
					a(ng-click="openUrl(item.forceUrl)", href='').span.ibox(ng-bind='item.title')
			td
				span.ibox(ng-bind='item.author')
			td
				span(ng-repeat='data in item.catalog', ng-bind="data+' '")
			td
				span(ng-repeat='data in item.recommend', ng-bind="data+' '")
				span(ng-if='item.recommend.length==0') 否
			td(ng-bind="item.isActive ? '是' : '否' ")
			td(ng-bind="item.published | date:'yyyy-MM-dd' ")
			td
				a.delete(ng-if='user.isAdmin', href='javascript:;', ng-click='deleteByID(item._id,false)') 删除
				a(ng-if='user.isAdmin', ng-click="modifyByID(item._id)",href='{{"#fancybox-"+$state.params.model}}',fancybox) 修改
.user-tip(ng-if='articleList.docs.length==0') 暂无数据
a#article-trigger(href="#fancybox-article",fancybox)

.fancybox-container#fancybox-article(style="display:none")
	form.form-horizontal(method="post")
		.form-group
			label.col-sm-1.control-label.f13 标题
			.col-sm-11
				input.form-control(type='text',placeholder='请输入标题',autocomplete="off",ng-model="articleModel.title")
		.form-group
			label.col-sm-1.control-label.f13 当前语言
			.col-sm-11
				input.form-control(type='text',disabled="disabled",autocomplete="off",ng-model="articleModel.language")
		.form-group
			label.col-sm-1.control-label.f13 是否推荐
			.col-sm-11#recommend
				label.checkbox-inline
					input(type='checkbox',autocomplete="off",ng-click="updateCommand($event,'焦点图')",value="焦点图")
					| 焦点图
				label.checkbox-inline
					input(type='checkbox',autocomplete="off",ng-click="updateCommand($event,'推荐文章')",value="推荐文章")
					| 推荐文章
				label.checkbox-inline
					input(type='checkbox',autocomplete="off",ng-click="updateCommand($event,'普通文章')",value="普通文章")
					| 普通文章
				label.checkbox-inline
					input(type='checkbox',autocomplete="off",ng-click="updateCommand($event,'文字广告')",value="文字广告")
					| 文字广告
				label.checkbox-inline
					input(type='checkbox',autocomplete="off",ng-click="updateCommand($event,'强烈推荐')",value="强烈推荐")
					| 强烈推荐
		.form-group
			label.col-sm-1.control-label.f13 是否激活
			.col-sm-11 
				label.checkbox-inline
					input(type='checkbox',autocomplete="off",ng-model="articleModel.isActive",ng-value="articleModel.isActive")
		.form-group
			label.col-sm-1.control-label.f13 作者
			.col-sm-11
				input.form-control(type='text',placeholder='请输入作者',autocomplete="off",ng-model="articleModel.author")
		.form-group
			label.col-sm-1.control-label.f13 点击量
			.col-sm-11
				input.form-control(type='text',placeholder='请输入点击量',autocomplete="off",ng-model="articleModel.clickVolume")
		.form-group
			label.col-sm-1.control-label.f13 强制URL
			.col-sm-11
				input.form-control(type='text',placeholder='请输入强制URL',autocomplete="off",ng-model="articleModel.forceUrl")
		.form-group
			label.col-sm-1.control-label.f13 文章封面
			.col-sm-11
				.uploadImageWaper
					img.uploadImage(ng-src="{{SERVER_PATH}}{{articleModel.articleCover}}",image-scale="best-fit-down")
				input.uploadInp(type='file',uploader="uploader",nv-file-select="")
				input.uploadInpBtn(type="button",ng-click="uploader.uploadAll()",value="上传")
		.form-group
			label.col-sm-1.control-label.f13 发布日期
			.col-sm-11
				input.form-control(type='date',placeholder='请选择日期',autocomplete="off",ng-model="articleModel.published")
		.form-group
			label.col-sm-1.control-label.f13 简介
			.col-sm-11
				#article-ins.wangEditor
		.form-group
			label.col-sm-1.control-label.f13 内容
			.col-sm-11
				#article-con.wangEditor
		.form-group
			label.col-sm-1.control-label.f13 标题
			.col-sm-11
				input.form-control(type='text',placeholder='请输入网页标题',autocomplete="off",ng-model="articleModel.pagetitle")
		.form-group
			label.col-sm-1.control-label.f13 关键字
			.col-sm-11
				input.form-control(type='text',placeholder='请输入网页关键字',autocomplete="off",ng-model="articleModel.pagekeywords")
		.form-group
			label.col-sm-1.control-label.f13 描述
			.col-sm-11
				input.form-control(type='text',placeholder='请输入网页描述',autocomplete="off",ng-model="articleModel.pagedescription")
		.form-group
			label.col-sm-1.control-label
			.col-sm-11
				button.btn.btn-primary(ng-click="addArticle()",ng-show="!sign.isModify") 提交
				button.btn.btn-primary(ng-click="sendModifyArticle(sign.modifyID)",ng-show="sign.isModify") 修改
				button.btn.btn-danger.ml(ng-click="resizeArticle()") 重置