.font {
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
}

header {
  z-index: 1000;
  background-color: #eff0f1;
  height: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-content {
  @extend .font;
  font-size: 14px;
}

.complain-button {
  @extend .font;
  position: relative;
  vertical-align: middle;
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  cursor: pointer;
  color: #222222;
}

.search-button {
  @extend .complain-button;
}

.home-button {
  position: relative;
  vertical-align: middle;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  cursor: pointer;
  color: #222222;
}

.date-pad {
  @extend .font;
  color: #44433343;
  position: relative;
  vertical-align: middle;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}
