.operation-buttons.mb
	a#column-trigger.button.fl.mr(href="#fancybox-column") 添加栏目
.column-waper
	ul.column-list(ng-include="'recursion'")
.nodata(ng-if="allColumnTree.length==0") 暂无数据
script#recursion(type='text/ng-template').
	<li ng-repeat="item in allColumnTree">
		<input type="checkbox" data-id="{{item._id}}" ng-checked="item.state" ng-click="choseClick($index,item.state)" />
		<div class="name common fl" ng-click="slideMenu($event,item._id)">
			<span class="title" ng-bind="item.title"></span>
			<span class="ObjectID">[ObjectID:<i ng-bind="item._id"></i>]</span>
		</div>
		<div class="curd common fr">
			<a class="operation" href="{{item.route}}" target="_blank" ng-if="item.route">预览</a>
			<a class="operation" ui-sref="major.content({id:item._id,model:item.model,title:item.title})">内容管理</a>
			<div fancybox class="operation" href="#fancybox-column" ng-click="addChildColumn(item._id)">增加子栏目</div>
			<div fancybox class="operation" href="#fancybox-column" ng-click="modifyfancy(item._id)">修改</div>
			<a class="operation" href="javascript:;" ng-click="deleteColumn(item._id)">删除</a>
		</div>
		<ul class="column-list" ng-include="'recursion'" ng-if="item.children.length" ng-init="allColumnTree = item.children"></ul>
	</li>

.fancybox-container#fancybox-column(style="display:none")
	form.form-horizontal(method="post")
		.form-group
			label.col-sm-1.control-label.f13 父级栏目
			.col-sm-11
				select.form-control(ng-model='formData.parent')
					option(value='none') 请选择父级栏目
					option(ng-repeat='data in columnInfomations', value='{{data._id}}', ng-bind='data.title')
		.form-group
			label.col-sm-1.control-label.f13 栏目名称
			.col-sm-11
				input.form-control(type='text',placeholder='请输入栏目名称',autocomplete="off",ng-model="formData.title")
		.form-group
			label.col-sm-1.control-label.f13 栏目别名
			.col-sm-11
				input.form-control(type='text',placeholder='请输入栏目别名',autocomplete="off",ng-model="formData.alias")
		.form-group
			label.col-sm-1.control-label.f13 栏目链接
			.col-sm-11
				input.form-control(type='text',placeholder='请输入栏目链接',autocomplete="off",ng-model="formData.link")
		.form-group
			label.col-sm-1.control-label.f13 当前语言
			.col-sm-11
				input.form-control(type='text',autocomplete="off",ng-model="formData.language",disabled="disabled")
		.form-group
			label.col-sm-1.control-label.f13 栏目模型
			.col-sm-11
				select.form-control(ng-model='formData.model')
					option(value='article') 文章管理
					option(value='commodity') 商品管理
		.form-group
			label.col-sm-1.control-label.f13 栏目索引
			.col-sm-11
				input.form-control(type='text',placeholder='请输入栏目索引',autocomplete="off",ng-model="formData.columnIndex")
		.form-group
			label.col-sm-1.control-label.f13 强制URL
			.col-sm-11
				input.form-control(type='text',placeholder='请输入强制URL',autocomplete="off",ng-model="formData.forceUrl")
		.form-group
			label.col-sm-1.control-label.f13 栏目权重
			.col-sm-11
				input.form-control(type='text',placeholder='请输入栏目权重(只能填写数字)',autocomplete="off",ng-model="formData.weight")
		.form-group
			label.col-sm-1.control-label.f13 栏目路由
			.col-sm-11
				input.form-control(type='text',placeholder='请输入栏目路由(单页应用使用)',autocomplete="off",ng-model="formData.route")
		.form-group
			label.col-sm-1.control-label.f13 栏目封面
			.col-sm-11
				.uploadImageWaper
					img.uploadImage(ng-src="{{SERVER_PATH}}{{formData.cover}}",image-scale="best-fit-down")
				input.uploadInp(type='file',uploader="uploader",nv-file-select="")
				input.uploadInpBtn(type="button",ng-click="uploader.uploadAll()",value="上传")
		.form-group
			label.col-sm-1.control-label.f13 链接类型
			.col-sm-11
				select.form-control(ng-model='formData.linksType')
					option(value='0') 
					option(value='1') 链接到本栏目
					option(value='2') 链接到第一个子栏目
					option(value='3') 不可链接
		.form-group
			label.col-sm-1.control-label.f13 主导航
			.col-sm-11
				label.radio-inline
					input(type='radio',value='true',name='switch',ng-model="formData.switch",ng-checked='true')
					|  是
				label.radio-inline
					input(type='radio',value='false',name='switch',ng-model="formData.switch")
					|  否
		.form-group
			label.col-sm-1.control-label.f13 栏目简介
			.col-sm-11
				#col-ins.wangEditor
		.form-group
			label.col-sm-1.control-label.f13 栏目内容
			.col-sm-11
				#col-con.wangEditor
		.form-group
			label.col-sm-1.control-label
			.col-sm-11
				button.btn.btn-primary(ng-click="addColumn()",ng-show="!sign.isModify") 提交
				button.btn.btn-primary(ng-click="modifyColumn(sign.modifyID)",ng-show="sign.isModify") 修改
				button.btn.btn-danger.ml(ng-click="resetForm()") 重置